<!DOCTYPE HTML>
<!--使用的是thymleaf模板引擎-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>White Hart Lane Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <script src="js/jquery-3.4.1.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

    <style>
        .carousel-inner img {
            width: 100%;
        }
    </style>

    <style>
        /*#show h3{position:absolute;bottom:0;left:0;padding-top:70px;width:640px;height:40px;background:url(/imgs/brand.jpg) 0 bottom repeat-x;color:#fff;text-indent:30px;font-weight:400;font-size:20px;line-height:40px;}*/
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${#servletContext.contextPath} + '/'">白鹿巷DEMO</a>
                <a class="navbar-brand" th:href="${#servletContext.contextPath} + '/'">
                    <img alt="Brand" src="imgs/brand.jpg" >
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索文章">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=491096625fc95d5bb1bb
                    &redirect_uri=http://localhost:8887/callback&scope=user&state=1">登陆</a></li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            我
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人中心</a></li>
                            <li><a href="#">信息修改</a></li>
                            <li><a href="#">消息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <nav class="navbar navbar-default">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                    球队信息<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation">
                        <a href="#">托特纳姆热刺</a>
                        <a href="#">现役球员</a>
                    </li>
                </ul>
            </li>
            <li role="presentation">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                    球队动态<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation">
                        <a href="#">采访</a>
                        <a href="#">伤病</a>
                    </li>
                </ul>
            </li>
            <li role="presentation"  class="active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    转会<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation">
                        <a href="#">官宣</a>
                        <a href="#">绯闻</a>
                        <a href="#">绯闻对象分析</a>
                    </li>
                </ul>
            </li>
            <li role="presentation">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    比赛信息<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation">
                        <a href="#">近期重要比赛</a>
                        <a href="#">赛季联赛成绩</a>
                        <a href="#">赛季欧战成绩</a>
                        <a href="#">历史赛程</a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="active">
                <a href="#">其他文章</a>
            </li>
            <li role="presentation">
                <a href="#">讨论区</a>
            </li>
            <li role="presentation" class="active">
                <a href="#">关于我们</a>
            </li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#">
                            <img src="slides/slide1.png" alt="First slide" class="center-block">
                            <div class="carousel-caption">
                                <h3>第1张图片描述标题</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="slides/slide2.png" alt="Second slide" class="center-block">
                            <div class="carousel-caption">
                                <h3>第2张图片描述标题</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="slides/slide3.png" alt="Third slide" class="center-block">
                            <div class="carousel-caption">
                                <h3>第3张图片描述标题</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="slides/slide4.png" alt="Forth slide" class="center-block">
                            <div class="carousel-caption">
                                <h3>第4张图片描述标题</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next"><span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading"><b>公告</b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#">>>>更多公告</a></div>
                <div class="panel-body">
                    <p>
                        正在进行开发测试
                        <br><br><br>
                    </p>
                </div>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-body">
                    <p>
                        资助
                        <br><br><br>
                    </p>
                </div>
            </div>

        </div>


        <div class="col-md-6">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading"><b>热门讨论</b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" style="color:yellow">>>>进入讨论区</a></div>

                <!-- Table -->
                <table class="table table-hover">
                    <tr>
                        <td width="60%" align="middle">标题</td>
                        <td width="25%" align="middle">最后回复时间</td>
                        <td width="10%" align="middle">热度</td>
                        <td width="5%" align="middle"></td>
                    </tr>
                    <tr>
                        <td align="middle"><a href="#">标题1</a></td>
                        <td align="middle">2019/6/15</td>
                        <td align="middle">0</td>
                        <td align="middle"></td>
                    </tr>
                    <tr>
                        <td align="middle"><a href="#">标题2</a></td>
                        <td align="middle">2019/6/15</td>
                        <td align="middle">0</td>
                        <td align="middle">精</td>
                    </tr>
                    <tr>
                        <td><a href="#">标题3</a></td>
                        <td align="middle">2019/6/15</td>
                        <td align="middle">0</td>
                        <td align="middle"></td>
                    </tr>
                    <tr>
                        <td><a href="#">标题4</a></td>
                        <td align="middle">2019/6/15</td>
                        <td align="middle">0</td>
                        <td align="middle"></td>
                    </tr>
                    <tr>
                        <td><a href="#">标题5</a></td>
                        <td align="middle">2019/6/15</td>
                        <td align="middle">0</td>
                        <td align="middle"></td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-body">
                    <p>
                        广告
                        <br><br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-body">
                    <p>
                        广告
                        <br><br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-body">
                    <p>
                        广告
                        <br><br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-body">
                    <p>
                        广告
                        <br><br><br>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>

</body>
</html>